/*Para uso global, como difinicion de contantes */


/*Custom properties*/

:root {
    --oscuro: #212121;
    --primario: #D32F2F;
    --secundario: #03A9F4;
    --terciario: #009688;
    --gris: #757575;
}

html {
    box-sizing: border-box;
    /*Para que el gradient se vea bien y no cortado*/
    min-height: 100%;
    /*El navegador intenta renderizar las letras a 16 pixeles,
    por eso el 62.5% de 16 es 10px y establece que 1rem=10px*/
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    /*Para que el gradient se vea bien y no cortado*/
    min-height: 100%;
    /*webgradients.com*/
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    font-family: 'Krub', sans-serif;
    font-size: 1.6rem;
}

img {
    max-width: 100%;
}

.margin-bot {
    margin-bottom: 2.5rem;
}

h1,
h2,
h3 {
    margin: 0;
}

h2,
h3 {
    text-align: center;
}

h3 {
    font-weight: 400;
    font-size: 2.5rem;
    color: var(--secundario);
}

h4 {
    font-size: 2.6rem;
    line-height: 1.2;
}

p {
    font-size: 1.8rem;
    line-height: 2;
}

.site-header {
    background-color: white;
}

.site-header a:hover {
    color: var(--secundario);
}

.site-header nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 0;
    /*Flex se aplica al padre*/
    display: flex;
    /*Si se cambia a column ya no aplica justify content, se usa align items*/
    flex-direction: column;
    align-items: center;
}

@media(min-width: 768px) {
    .site-header nav {
        flex-direction: row;
        justify-content: space-between;
    }
}

.site-header nav a {
    color: var(--oscuro);
    font-size: 2.2rem;
    text-decoration: none;
    margin-bottom: 3rem;
}

.site-header nav a:last-of-type {
    margin-bottom: 0;
}

@media(min-width: 768px) {
    .site-header nav a {
        margin-bottom: 0;
    }
}

.hero {
    height: 45rem;
    background-image: url(../img/hero2.jpg);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero::after {
    /*Para el efecto de sombreado de la imagen*/
    content: '';
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.contenedor-hero {
    color: white;
    /*Para traer hacia arriba el contenedor y que se aplique despues
    del after*/
    position: relative;
    z-index: 1;
    text-align: center;
}

.contenedor-hero i {
    font-size: 5rem;
    color: var(--primario);
}

.centrar-texto {
    text-align: center;
}

.centrar-texto span {
    color: var(--terciario)
}

.no-margin {
    margin: 0;
}

.justify-text {
    text-align: justify;
}

.boton {
    background-color: var(--secundario);
    padding: 1rem 5rem;
    /*Inlineblock para poder agregar un margin*/
    display: inline-block;
    margin-top: 1rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    border-radius: .5rem;
    border: none;
}

.boton:hover {
    cursor: pointer;
}

.btn {
    /*Para que crezcan y tomen todo el espacio disponible*/
    display: block;
    text-align: center;
    padding: 1rem 3rem;
    margin: 2rem 0;
    color: white;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    text-decoration: none;
    /*Para forzar al padre a crecer*/
    flex: 0 0 100%;
}

@media(min-width:600px) {
    .btn {
        /*Para que no crezan los botones*/
        /*Define el ancho por medio del padding*/
        display: inline-block;
        /*Para que se haga pequeño cuando la pagina sea mas de 600px*/
        flex: 0 0 auto;
    }
}

.btn-secundario {
    background-color: var(--terciario);
    font-family: 'Open Sans', sans-serif;
}

.contenedor {
    max-width: 1200px;
    margin: 3rem auto;
    background-color: white;
    padding: 3rem;
    border-radius: 1rem;
    /*css matic*/
    -webkit-box-shadow: 0px 10px 19px 1px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 0px 10px 19px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 0px 10px 19px 1px rgba(0, 0, 0, 0.47);
}

.contenedor-servicios {
    margin-top: 4rem;
}

@media(min-width: 768px) {
    .contenedor-servicios {
        display: flex;
        justify-content: space-between;
    }
    .servicio {
        /*Toma todo el tamaño y se expande para abarcar todo*/
        /*Si le damos un valor pj de 2 tomaria el doble de lo de un elemento*/
        flex: 0 0 calc(50% - 3.0rem);
    }
}

.contenedor-skills {
    margin-top: 4rem;
}

@media(min-width: 768px) {
    .contenedor-skills {
        display: flex;
        justify-content: space-between;
    }
    .skills {
        /*Toma todo el tamaño y se expande para abarcar todo*/
        /*Si le damos un valor pj de 2 tomaria el doble de lo de un elemento*/
        flex: 0 0 calc(33.3% - 2rem);
    }
}

.servicio {
    /*Centrar circulo servicio*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio p {
    text-align: justify;
}

@media(min-width: 768px) {
    .servicio p {
        text-align: unset;
    }
}

.skills {
    /*Centrar circulo servicio*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill p {
    text-align: center;
}

@media(min-width: 768px) {
    .skills p {
        text-align: unset;
    }
    .skill p {
        text-align: justify;
    }
}


/*The icons were taken from font awesome that is implemented in this project*/


/*Just search in font awesome the icon you want and copy the code that they give you*/

.iconos {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--terciario);
    display: flex;
    /*Centrar horizontal*/
    justify-content: space-evenly;
    /*Centrar vertical*/
    align-items: center;
    font-size: 3rem;
    margin-top: 2rem;
}

form {
    background-color: rgb(195, 236, 183);
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 2rem;
}

form p {
    font-size: 2rem;
    color: black;
    margin-top: 0;
    text-align: center;
}

@media(min-width: 768px) {
    form {
        max-width: 800px;
        margin: 3rem auto;
    }
    .contenedor-campos {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .campo {
        flex: 0 0 calc(50% - 1rem);
    }
}

.campo {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
}

.campo label {
    flex: 0 0 90px;
    padding-top: .5rem;
    color: black;
}

.campo input {
    flex: 1;
    height: 4rem;
    border-radius: 1rem;
    border: none;
}

.campo textarea {
    flex: 1;
    height: 6rem;
    border-radius: 1rem;
    border: none;
}

.campo select {
    width: 100%;
    height: 4rem;
    border-radius: 1rem;
    border: none;
}

.w-100 {
    flex: 0 0 100%;
}

.enviar {
    display: flex;
    justify-content: flex-end;
}


/*PROJECTS*/

.project {
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #777373c0;
}

.project p {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem
}

.project span,
.project p.descripcion {
    font-weight: 400;
}

.project h4 {
    text-align: center;
    margin: 1rem;
}

@media(min-width:768px) {
    .project h4 {
        text-align: justify;
        margin: 0;
    }
}

@media(min-width: 768px) {
    .grid {
        display: flex;
        justify-content: space-between;
        /*Para que el formulario se vaya hacia abajo*/
        flex-wrap: wrap;
    }
    .centrar-columnas {
        justify-content: center;
    }
    .columnas-6 {
        flex: 0 0 calc(50% - 1rem);
    }
    .columnas-4 {
        flex: 0 0 calc(33.3% - 1rem);
    }
    .columnas-8 {
        flex: 0 0 calc(66.6% - 1rem);
    }
    .columnas-10 {
        flex: 0 0 calc(83.3% - 1rem);
    }
    .columnas-12 {
        flex: 0 0 100%;
    }
}

.contenedor h2 {
    font-size: 3.5rem;
}